.mainLeader{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.rankingListlead {
    text-align: center;
    height: 68vh;
    border-radius: 20px !important;
    max-height: 800px ;
    margin-bottom: 60px;
}

.rankingLeaderList{
    position: relative;
    top: -30px;  
}

.rankingLeader{
    display: flex;
    justify-content: center;
    align-items: center;  
    flex-direction: row-reverse;
    position: relative;
    top: -40px;
}

.rankingLeader .MuiAvatar-root{
    width: 22vw;
    height: 22vw;
}

.MuiAvatarGroup-avatar {
    border: 0 !important;
    margin-left: -30px !important;
}

.MuiAvatarGroup-root {
    margin-right: -30px !important;
}

.Position1{
    display: flex;
    justify-content: center;
    align-items: center;  
    border: 8px solid white;
    border-radius: 100% !important;
    position: relative;
    top: -26px;
    min-height: 70px;
    min-width: 70px;
    max-height: 180px;
    max-width: 180px;
    background-color: #ea5789 !important;
}

.Position1 img{
    width: 16vw;
    height: 16vw;
    max-height: 130px;
    max-width: 130px;
}

.Position2{
    display: flex;
    justify-content: center;
    align-items: center;  
    border: 8px solid white;
    border-radius: 100% !important;
    position: relative;
    top: 6px;
    min-height: 60px;
    min-width: 60px;
    max-height: 170px;
    max-width: 170px;
    background-color: #d97e2d !important;
}

.Position2 img{
    width: 12vw;
    height: 12vw;
    max-height: 120px;
    max-width: 120px;
}

.Position3{
    display: flex;
    justify-content: center;
    align-items: center;  
    border: 8px solid white;
    border-radius: 100% !important;
    position: relative;
    top: 18px;
    min-height: 50px;
    min-width: 50px;
    max-height: 160px;
    max-width: 160px;
    background-color: #f88ad1 !important;
}

.Position3 img{
    width: 9vw;
    height: 9vw;
    max-height: 100px;
    max-width: 100px;
}

.listItem{
    display: flex;
    justify-content: space-between;
    align-items: center;  
    flex-direction: row;
    height: 7vh;
    max-height: 80px;
    margin: 18px 0;
}

.listItem2{
    display: flex;
    justify-content: space-between;
    align-items: center;  
    flex-direction: column;
    height: 7vh;
    max-height: 80px;
    margin: 18px 0;
}
.listItem2 div{
    padding: 20px 0;
}

.listimg{
    width: 30%;
}
.listimg img{
    width: 12vw;
    height: 12vw;
    max-width: 70px;
    max-height: 70px;
}
.listname{
    width: 40%;
    text-align: left;
}
.listpoints{
    width: 30%;
    text-align: left;
}
.listpointslist{
    font-family: 'Courier New', Courier, monospace !important;
    font-weight: lighter;
}