.avatarbox{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    flex-wrap: wrap;
}

.avatarbox img{
    width: 14vw;
    height: 14vw;
    max-width: 100px;
    max-height: 100px;
    padding: 20px;
    border-radius: 100%;
    border: 8px solid transparent;
    transition: all 0.2s ease-in-out;
}

.avatarbox img:hover{
    transform: scale(1.1);
    border: 8px solid #ea5789;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}

.selected{
    border: 8px solid #ea5789 !important;
}